@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap');
/* font-family: 'M PLUS 1p', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {--title-color: black;
}

.container {
  max-width: 1200px;
  margin: auto;
}

img {
  display: block;
  width: 100%;
}

.header__title {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 34px;
    font-weight: 800;
    color: var(--title-color);
    text-align: center;
    letter-spacing: 1.428px;
    line-height: 40.8px;
}

/* media next */
