.footer {
  padding: 10px 24px;
}

.footer__left-column,
.footer__central-column,
.footer__right-column-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column-item {
  text-align: center;
}

.footer__central-column-socials {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.footer__divider {
  width: 40px;
  margin: auto;
}

.footer__left-column-title > h2 {
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
}

.column-item > p {
  display: block;
  padding: 20px 0 10px;
}

.footer__right-column-title > h2 {
  text-align: center;
  font-size: 20px;
}

.footer__phone,
.footer__email {
  display: block;
  color: rgb(153, 157, 167);
  font-size: 17px;
  font-weight: 300;
  padding: 10px 0;
  letter-spacing: 0.4px;
}

.footer__logo-svg {
  width: 170px;
  height: 85px;
  margin: 20px 0;
  align-items: center;
}

.footer__right-column-title {
  padding-bottom: 20px;
}

.footer__right-column-menu {
  padding: 20px 0;
  gap: 20px;
}

.footer__copyrights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer__copyrights-spans-left > span {
  display: block;
  color: rgb(153, 157, 167);
  font-size: 12px;
  padding: 10px 0;
  letter-spacing: 1px;
  font-style: italic;
}

.footer__copyrights-spans-right > span {
  display: block;
  color: rgb(153, 157, 167);
  font-size: 12px;
  padding: 10px 0;
  letter-spacing: 1px;
  font-style: italic;
}

.footer__right-column-menu > a {
  color: rgb(153, 157, 167);
  font-size: 17px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .footer__main-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .footer__left-column-title > h2 {
    padding-top: 0;
    font-size: 23px;
  }

  .footer__right-column-title > h2 {
    padding-top: 0;
    font-size: 23px;
  }

  .footer__logo-svg {
    margin: 0;
  }

  .footer__copyrights-spans {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .footer__copyrights > hr {
    max-width: 1200px;
    align-items: center;
    margin: auto;
  }

  .footer__right-column-menu > a:hover {
    text-decoration: underline;
    color: darkblue;
  }

  .column-item > a:hover {
    text-decoration: underline;
  }

  .footer__central-column-socials :hover {
    fill: rgb(246, 62, 33);
  }
}
