.header__nav {
  position: relative;
  top: 0px;
  left: 0px;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  min-height: 100px;
  padding: 24px 24px 0;
  background: #ffffff;
}

.header__burger-logo {
  z-index: 22;
}

.header__burger-menu-wraper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  z-index: 22;
}

.header__burger-menu {
  display: flex;
  align-items: center;
  width: 24px;
  height: 16px;
  position: relative;
  cursor: pointer;
  z-index: 50;
}

.header__burger-menu-item {
  position: absolute;
  height: 2px;
  width: 100%;
}

.header__burger-menu::before {
  background-color: rgb(246, 125, 107);
  position: absolute;
  height: 2px;
  width: 100%;
  content: " ";
  top: 0px;
  overflow: hidden;
}

.header__burger-menu::after {
  background-color: rgb(246, 125, 107);
  position: absolute;
  height: 2px;
  width: 100%;
  content: " ";
  top: 14px;
}

.header__burger-menu span,
.header__burger-menu::after,
.header__burger-menu::before {
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: rgb(246, 125, 107);
  transition: all 0.5s ease-in-out;
}

.header__burger-menu span {
  transform: scale(1);
}

.header__burger-menu.active span {
  transform: scale(0);
}

.header__burger-menu.active::before {
  top: 7px;
  transform: rotate(-225deg);
}

.header__burger-menu.active::after {
  top: 7px;
  transform: rotate(225deg);
}

.header__menu > li {
  margin: 10px 5px;
  font-weight: 300;
  font-size: 17px;
}

.header__menu > li > a {
  text-decoration: none;
  color: rgb(153, 157, 167);
}

.header__menu > li > a:hover {
  color: darkblue;
}

.header__menu-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 3px;
  color: darkblue;
}

.menu__info-url {
  text-decoration: underline;
  color: darkblue;
}

.header__menu-info > p {
  color: darkblue;
}

.header__menu-info > a {
  padding: 20px 0 0;
  color: darkblue;
}

.header__socials {
  padding-top: 30px;
}

.header__top-logo-svg {
  width: 120px;
  height: 61px;
}

.social-icon {
  fill: rgb(246, 125, 107);
  width: 35px;
  height: 35px;
  margin: 0 12px;
}

.header__socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header__background {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.header__background-image {
    height: 300px;
    margin: 0 auto;
    
  }

@media (max-width: 992px) {
  .header__menu-container {
    font-family: "Mulish", sans-serif;
    position: fixed;
    background-color: white;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 15px 24px 50px 24px;
    transition: top 0.3s ease-in 0.1s;
    overflow: hidden;
    margin: auto;
  }

  .header__menu-container.active {
    font-family: "Mulish", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 20;
    margin: auto;
  }

  .header__menu {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
  }

  .header__menu-item {
    display: flex;
    font-size: 17px;
    margin: 6px 20px;
  }

  .header__nav-breake {
    display: none;
  }
}
