.popular {
  padding: 70px 24px 10px;
}

.popular__header > h4 {
  text-align: start;
  padding-bottom: 10px;
}

.popular__header-text > p {
  padding-bottom: 0;
  margin-bottom: -10px;
}

.popular__image {
  padding: 25px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular__image > img {
  position: relative;
  height: auto;
  width: 100%;
}

.popular__food-type > p {
  color: rgb(246, 125, 107);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
}

.popular__title > h3 {
  padding-bottom: 50px;
}

.popular__end-text > p > span {
  color: rgb(246, 125, 107);
}

.popular__end-text {
  font-style: italic;
}

.popular__title > h3 {
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .popular__content {
    display: flex;
    justify-content: space-between;
  }

  .popular__content-left-column {
    max-width: 48%;
  }

  .popular__content-right-column {
    max-width: 48%;
  }

  .popular__end-text {
    padding-top: 25px;
  }
}