.unique {
  padding: 70px 24px 10px;
}

.unique__left-column-image {
  height: 400px;
  padding-bottom: 30px;
}

.unique__left-column-image > img {
  object-fit: cover;
  object-position: 50% 35%;
  width: 100%;
  height: 100%;
}

.unique__left-column-text > p {
  padding: 20px 0 0;
}

.unique__right-column-title > h2 {
  padding-top: 60px;
  letter-spacing: 7px;
}

.unique__right-column-subtitle > h4 {
  text-align: start;
  padding-bottom: 10px;
}

.unique__right-column-image {
  height: auto;
  padding: 30px 0;
}

.unique__right-column-image > img {
  object-fit: cover;
  object-position: 50% 35%;
  width: 100%;
  height: 100%;
}

/* Accordion */

.unique__accordion > span {
  font-family: "Cormorant Garamond", serif;
  color: #071b54;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: 2px;
  padding: 0;
}

.unique__accordion {
  background-color: #ffffff;
  color: darkblue;
  cursor: pointer;
  padding: 18px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: height 0.3s ease, margin-top 0.3s ease;
}

.unique__accordion:after {
  content: "\2795";
  color: #071b54;
  font-size: 12px;
  float: right;
  margin: 5px;
}

.unique__accordion.active:after {
  content: "\2796";
}

.unique__accordion-panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
