.welcome__central-column-photo > img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.welcome__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}

.welcome__central-column {
  background-image: url("../media/chef-bg.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 40px;
}

.welcome__right-column {
  padding-top: 30px;
}


@media (min-width: 768px) {
  h4 {
    padding-bottom: 10px;
  }

  .welcome__columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .welcome__central-column-photo > img {
    min-width: 310px;
  }

  .welcome__central-column-photo {
    margin: auto;
  }

  .welcome__left-column-divider {
    width: 50px; 
  }

  .column {
    max-width: 350px;
  }

  .welcome__left-column-divider.divider {
    width: 40px;
    margin: 0;
  }

}